html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    
}


img{
    width: 400px;
    /* display: block;
    height: auto;
    max-width: 100%; */
}

.blue{
    color: blue;
}

ul{
    text-align: center;
}

li{
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-top: 30px;
    margin-right: 60px;
    margin-bottom: 40px;    
}

.comment{
    text-align: left;
    margin: 0px;
    margin-top: 20px;
}

.block{
    width:400px;
    display:inline-block;
    margin-right: 60px; 
}

h2{
    margin-bottom: 25px;
    text-align: left;
}

 div>.Info{
        height:50px; 
        width:170px; 
        margin: -50px -120px; 
        position:relative;
        top:50%; 
        left:50%;
        margin-top: 40px;
        font-size: 16px;
        margin-bottom: 100px;
}